html {
    background-color: beige;
  }
  header {
    padding: 24px;
    display:grid;
  }
  footer {
    background-color: burlywood;
    padding: 12px;
  }
  body {
    margin: 0;
  }
  .book-cover {
    width: 200px;
    height: auto;
  }
  .main-page-book-review {
    background-color: white;
    border: 1px solid lightblue;
    padding: 12px;
  }
  main {
    max-width: 800px;
    margin: auto;
  }
  .book-rating {
    font-size: 125%;
  }
  .book-authors {
    color: dimgray;
  }